<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.laravel.cn.docs.workflow</string>
	<key>connections</key>
	<dict/>
	<key>createdby</key>
	<string>reallyli</string>
	<key>description</key>
	<string>Search Laravel CN Docs From {query}</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Laravel CN Docs</string>
	<key>objects</key>
	<array/>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict/>
	<key>webaddress</key>
	<string>https://github.com/reallyli</string>
</dict>
</plist>
